
html
{
    background-image: url(./Bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#pic
{
    width: 37%;
    position: absolute;
    top: 27%;
    left: 31.5%;
}

#btn1
{
    position: absolute;
    top: 45%;
    left: 32%;
    font-size: 2em;
    z-index: 99;
}

#btn2
{
    position: absolute;
    top: 45%;
    right: 32%;
    font-size: 2em;
    z-index: 99;
}